<?xml version="1.0"?>
<robot name="turbopi" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Include modular components -->
  <xacro:include filename="base.xacro"/>
  <xacro:include filename="wheels.xacro"/>
  <xacro:include filename="sensors.xacro"/>
  <xacro:include filename="camera_gimbal.xacro"/>


  <!-- Instantiate components -->
  <xacro:base_link/>
  <xacro:mecanum_wheels/>
  <xacro:sensor_mounts/>
  <xacro:camera_gimbal/>

</robot>
